img.displayed {
  display: block;
  margin: 0 auto; }

p.em1 {
  margin-left: 1em; }
	p.em2 {
  margin-left: 2em; }
	p.em3 {
  margin-left: 3em; }
	p.em4 {
  margin-left: 4em; }
div {
	float: left; }
h2 {
  font-size: 18px;
  }
h3 {
  font-size: 16px;
  }
h4 {
  font-size: 15px;
  font-family: BahnSchrift, Consolas, Inter;
  }
p {
  font-family: BahnSchrift, Consolas, Inter;
  font-size: 14px; }
  
p.a {
  font-family: BahnSchrift, Consolas, Inter;
  font-size: 14px; }

p.b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }
